@import "../../style/mainColors.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=IBM+Plex+Mono:wght@100&display=swap');

.project-page {
    height: 100vh;
    overflow: auto;
}
.firstLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.projects {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 6em;
    font-weight: bold;
    color: var(--pink);
}
.of {
    margin-top: 1%;
    margin-left: 0.5%;
    font-size: 6em;
    font-weight: bold;
    color: var(--white);
}
.proj-the {
    margin-top: 1%;
    margin-left: 0.5%;
    font-size: 6em;
    font-weight: bold;
    color: var(--magenta)
}
.lastLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.lastLine p {
    font-size: 6em;
    font-weight: bold;
    color: var(--aqua);
    margin-top: -1.5%;
    margin-left: 11%;
}
.project-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-images a img {
    width: 400px;
}
.project-images img {
    width: 400px;
}
.project-names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project-names p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    font-size: 1.5em;
    margin-top: -6%;
}
/*Tablet Media Breakpoint */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .project-page {
        height: 100vh;
    }
    .projects {
        font-size: 2em;
        margin-top: 2%;
    }
    .of {
        font-size: 2em;
        margin-top: 2%;
    }
    .proj-the {
        font-size: 2em;
        margin-top: 2%;
    }
    .lastLine p {
        font-size: 3em;
    }
    .project-images {
        justify-content: center;
        margin-top: 8%;
    }
    .project-images a img {
        width: 200px;
    }
    .project-images img {
        width: 200px;
    }
    .project-names {
        justify-content: space-around;
    }
    .project-names p {
        font-size: 0.8em;
    }
}
/* Mobile Media Breakpoint */
@media screen and (max-width: 767px) {
    .project-page { 
        height: 100vh;
    }
    .projects, .of, .proj-the {
        font-size: 2em;
        margin-top: 4%;
    }
    .lastLine p {
        font-size: 2em;
    }
    .project-images {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project-images a img {
        width: 180px;
    }
    .project-images img {
        width: 180px;
    }
    .project-names p {
        visibility: hidden;
    }
}