@import "../../style/mainColors.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=IBM+Plex+Mono:wght@100&display=swap');

.about-me {
    height: 100vh;
    overflow: auto;
}
.about-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.about {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 6em;
    font-weight: bold;
    color: var(--white);
}
.the {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 6em;
    font-weight: bold;
    color: var(--yellow);
}
.about-title-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.dev {
    font-size: 6em;
    font-weight: bold;
    color: var(--aqua);
    margin-top: -1.5%;
    margin-left: 4%;
}
.about-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Tablet Media Breakpoint */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-me {
        height: 100vh;
    }
    .about {
        font-size: 3em;
    }
    .the {
        font-size: 3em;
    }
    .dev {
        font-size: 3em;
    }
    .about-pics {
        justify-content: center;
        margin-top: 10%;
    }
    .about-pics img {
        width: 200px;
    }
    .about-pics video {
        width: 200px;
    }
}
/* Mobile Media Breakpoint */
@media screen and (max-width: 767px) {
    .about-me {
        height: 100vh;
    }
    .about {
        font-size: 2em;
        margin-top: 4%;
    }
    .the {
        font-size: 2em;
        margin-top: 4%;
    }
    .dev {
        font-size: 2em;
    }
    .about-pics {
        flex-direction: column;
        margin: auto;
        width: 50%;
    }
    .about-pics img {
        width: 200px;
    }
    .about-pics video {
        width: 200px;
    }
}