@import "../../style/mainColors.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=IBM+Plex+Mono:wght@100&display=swap');

.home-page {
    height: 100vh;
}
.full_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
p {
    color: var(--aqua);
    font-family: 'Amatic SC', cursive;
}
.full_name .firstName {
    margin-top: 15%;
    font-size: 6em;
    font-weight: bold;
}
.full_name .last_name {
    margin-top: 15%;
    font-size: 6em;
    font-weight: bold;
}
.port {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio {
    margin-top: -2%;
    font-size: 6em;
    font-weight: bold;
}
/* .scroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .scroll p {
     color: var(--pink);
     font-weight: bold;
     font-size: 1.5em;
     margin-top: 10%;
     text-decoration: underline double var(--aqua);
 } */

/* Tablet Media Breakpoint */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .home-page {
        height: 70vh;
    }
    .full_name {
        justify-content: center;
    }
    .full_name img {
        width: 300px;
    }
    .full_name .firstName {
        font-size: 3em;
    }
    .full_name .last_name {
        font-size: 3em;
    }
    .port {
        justify-content: center;
    }
    .portfolio {
        font-size: 4em;
    }
}

/*Mobile Media Breakpoint*/
@media screen and (max-width: 767px){
    .home-page {
        height: 100vh;
    }
    .full_name {
        justify-content: center;
        /* margin-left: 12%; */
        width: 50%;
        padding: 70px;
    }
    .full_name img {
        width: 220px;
    }
    .full_name .firstName {
        font-size: 3em;
        margin-top: auto;
    }
    .full_name .last_name {
        font-size: 3em;
        margin-top: auto;
    }
    .port {
        justify-content: center;
    }
    .portfolio {
        font-size: 3em;
    }
}